<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>管理界面</title>
    <link rel="stylesheet" href="css/showEngineer.css">
    <link rel="stylesheet" href="css/base.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="js/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="element-ui/lib/index.js"></script>
</head>
<body style="height: 100vh ; overflow: hidden">
<!--头部展示-->
<header>
    <div class="header">
        <ul class="header_flex w">
            <!--                工程师姓名-->
            <li class="engineerName">张三</li>
            <li class="greeting">早上好</li>
            <li class="date">2023-05-01</li>
            <li class="system"><h1>工程师管理系统</h1></li>
            <li class="quit">退出登录</li>
        </ul>
    </div>
</header>
<!--侧边界面-->

<!--商品展示界面-->
<div id = "app">
    <div class="left">
        <ul class="left_flex">
            <li class="btn btn_first">商品修改</li>
            <li class="btn">个人中心</li>
            <li class="btn">日志</li>
            <li class="btn">图片添加/修改</li>
        </ul>
    </div>

    <div class="right">
        <!--    商品搜索表格-->
        <div class="handoff show" id="brand_show">
            <!--搜索表单-->
            <el-form :inline="true" :model="brand" class="demo-form-inline">

                <el-form-item label="当前状态">
                    <el-select v-model="brand.status" placeholder="当前状态">
                        <el-option label="启用" value="1"></el-option>
                        <el-option label="禁用" value="0"></el-option>
                    </el-select>
                </el-form-item>

                <el-form-item label="企业名称">
                    <el-input v-model="brand.companyName" placeholder="企业名称"></el-input>
                </el-form-item>

                <el-form-item label="品牌名称">
                    <el-input v-model="brand.brandName" placeholder="品牌名称"></el-input>
                </el-form-item>

                <el-form-item>
                    <el-button type="primary" @click="onSubmit" id="submit_btn">查询</el-button>
                </el-form-item>
            </el-form>

            <!--按钮-->

            <el-row>
                <el-button type="danger" plain @click="deleteByIds">批量删除</el-button>
                <el-button type="primary" plain @click="sendmessage">新增</el-button>
<!--                返回按钮开始禁用 当查询之后可以使用,重新渲染页面-->
                <el-button type="info" plain @click="back">返回</el-button>
            </el-row>
            <!--添加数据对话框表单-->
            <el-dialog
                    title="编辑品牌"
                    :visible.sync="getmessage"
                    width="30%"
            >

                <el-form ref="form" :model="brand" label-width="80px">
                    <el-form-item label="品牌名称">
                        <el-input v-model="brand.brandName"></el-input>
                    </el-form-item>

                    <el-form-item label="企业名称">
                        <el-input v-model="brand.companyName"></el-input>
                    </el-form-item>

                    <el-form-item label="价格">
                        <el-input v-model="brand.ordered"></el-input>
                    </el-form-item>

                    <el-form-item label="图片路径">
                        <el-input type="textarea" v-model="brand.imageUrl"></el-input>
                    </el-form-item>

                    <el-form-item label="状态">
                        <el-switch v-model="brand.status"
                                   active-value="1"
                                   inactive-value="0"
                        ></el-switch>
                    </el-form-item>


                    <el-form-item>
                        <el-button type="primary" @click="addBrand">提交</el-button>
                        <el-button @click="getmessage = false">取消</el-button>
                    </el-form-item>
                </el-form>

            </el-dialog>


            <!--表格-->
            <template>
                <el-table
                        :data="tableData"
                        style="width: 100%"
                        :row-class-name="tableRowClassName"
                        @selection-change="handleSelectionChange">
                    <el-table-column
                            type="selection"
                            width="55">
                    </el-table-column>
                    <el-table-column
                            type="index"
                            width="50">
                    </el-table-column>

                    <el-table-column
                            prop="brandName"
                            label="品牌名称"
                            align="center"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="companyName"
                            label="企业名称"
                            align="center"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="ordered"
                            align="center"
                            label="价格">
                    </el-table-column>

                    <el-table-column
                            prop="statusStr"
                            align="center"
                            label="当前状态">
                    </el-table-column>

                    <el-table-column
                            align="center"
                            label="操作">
                            <template slot-scope="scope">
                                <el-button type="primary" @click="changeById(scope.row);dialogVisible = true">修改</el-button>
                                <el-button type="danger" @click="deleteById(scope.row)">删除</el-button>
                            </template>
                    </el-table-column>

                </el-table>
            </template>
<!--            修改商品信息 提示框-->
            <el-dialog
                    title="修改品牌"
                    :visible.sync="dialogVisible"
                    width="30%"
            >

                <el-form ref="form" :model="brand" label-width="80px">
                    <el-form-item label="品牌名称">
                        <el-input v-model="brand.brandName"></el-input>
                    </el-form-item>

                    <el-form-item label="企业名称">
                        <el-input v-model="brand.companyName"></el-input>
                    </el-form-item>

                    <el-form-item label="价格">
                        <el-input v-model="brand.ordered"></el-input>
                    </el-form-item>

                    <el-form-item label="图片路径">
                        <el-input type="textarea" v-model="brand.imageUrl"></el-input>
                    </el-form-item>

                    <el-form-item label="状态">
                        <el-switch v-model="brand.status"
                                   active-value="1"
                                   inactive-value="0"
                        ></el-switch>
                    </el-form-item>


                    <el-form-item>
                        <template>
                            <el-button type="primary" @click="changeBrand">提交</el-button>
                            <el-button @click="clearBrandInformation">取消</el-button>
                        </template>
                    </el-form-item>
                </el-form>

            </el-dialog>

            <!--分页工具条-->
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="currentPage"
                    :page-sizes="[5, 10, 15, 20]"
                    :page-size="5"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="totalCount">
            </el-pagination>

        </div>
        <!--        个人中心-->
        <div class="handoff" id="person">
            <div class="person_left">
                <ul class="person_flex">
                    <li class="person_name_li">
                        <span class="left_name_span">姓名:</span>
                        <span class="person_show" id="name_person">张三</span>
                    </li>
                    <li class="left_address">
                        <span class="left_address_span">地址:</span>
                        <span class="person_show" id="address_person">河南省南阳市</span>
                    </li>
                    <li class="left_telephone">
                        <span class="left_telephone_span">电话号码:</span>
                        <span class="person_show" id="telephone_person">1</span>
                    </li>
                    <li class="left_onboarding">
                        <span class="left_onboarding_span">入职时间:</span>
                        <span class="person_show" id="onboarding_person">1</span>
                    </li>
                    <li class="left_department">
                        <span class="left_department_span">所属部门:</span>
                        <span class="person_show" id="department_person">行政部</span>
                    </li>
                </ul>
            </div>
            <div class="person_right">
                <button class="person_change">修改电话号码</button>
            </div>
            <div class="person_img">

            </div>
            <!--            修改电话号码的输入框-->
            <div class="change_telephone" style="display: none">
                <ul class="change_telephone_flex">
                    <input type="number" placeholder="电话号码" class="in_telephone_one"></input>
                    <input type="number" placeholder="电话号码" class="in_telephone_two"></input>
                </ul>
                <button class="telephone_submit">确认</button>
                <button class="telephone_close">关闭</button>
            </div>
        </div>
        <!--        日志-->
        <div class="handoff" id="diary">
            <div class="handoffSearch">
                <input placeholder="请输入商品名称" class="diary_brandName"></input>
                <input placeholder="请输入公司名称" class="diary_companyName"></input>
                <input type="submit" value="查找" id="diary_submit"></input>
                <input type="submit" value="返回" id="diary_back"></input>
            </div>
            <table class="top_table">
                <thead>
                    <tr>
                        <th class="top_brandName">商品名称</th>
                        <th class="top_companyName">公司名称</th>
                        <th class="top_brandImage">商品图片</th>
                        <th class="top_brandPrice">商品价格</th>
                        <th class="top_brandBtn">操作</th>
                    </tr>
                </thead>
            </table>
            <table class="show_table">
<!--                <tr class="showTable_brand">-->
<!--                    <td class="show_brandName">展示1</td>-->
<!--                    <td class="show_companyName">展示1</td>-->
<!--                    <td class="show_brandImage"><img src="images/1.webp" class="brandImgSrc"></td>-->
<!--                    <td class="show_brandPrice">2099</td>-->
<!--                    <td class="show_brandBtn">-->
<!--                        <button class="restoreBtn">还原</button>-->
<!--                    </td>-->
<!--                </tr>-->
            </table>
        </div>
<!--        添加商品照片-->
        <div class="handoff" id="brandImages">
<!--            <div class="addBrandImage">-->
<!--                <input type="text" class="inputText" placeholder="请输入商品名称" id="image_brandName">-->
<!--                <span class="tip_brandName" style="display: none">!商品名称错误</span>-->
<!--                <input type="text" class="inputText" placeholder="请输入图片路径" id="image_url">-->
<!--            </div>-->
<!--            <div class="brandImage_btn">-->
<!--                <input type="button" value="增加" class="btn-primary" id="brandImage_submit">-->
<!--                <input type="button" value="修改" class="btn-primary" id="brandImage_change">-->
<!--            </div>-->
            <div class="brand_image">
                <span>查看商品图片</span>
                <input type="text" class="inputText" placeholder="输入图片路径" id="image_urlCheck">
                <button id="brandImages_checkBtn">查看</button>
                <div class="brand_image_flex">
                    <img src="images/1.webp" alt="请修改/输入你的图片路径" id="brand_showImage">
                    <span class="brand_image_name">商品姓名:</span> <span class="image_name">输入图片路径后可查看商品图片以及名称</span>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    new Vue({
        el: "#app",
        mounted(){
            //当页面加载完成后，发送异步请求，获取数据
            this.selectAll();
        },
        methods: {
            //单个删除
            deleteById(e){
                let id = e.id;//获取所选信息的id
                let brandName;
                let _this = this;
                this.$confirm('此操作将删除该数据, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    //用户点击确认按钮 发送请求 删除数据 重新渲染页面
                    //根据id查询商品名称
                    axios({
                        method:"get",
                        url:"http://localhost:8080/Java_war/brand/selectBrandNameById?id="+id
                    }).then(function (resp){
                        brandName = resp.data;
                        console.log("商品名称: "+brandName);
                        //根据商品名称 删除图片
                        axios({
                            method:"get",
                            url:"http://localhost:8080/Java_war/brand/deleteImageUrl?brandName="+brandName
                        }).then(function (resp){
                                console.log(resp.data);
                                axios({
                                    method:"get",
                                    url:"http://localhost:8080/Java_war/brand/deleteById?id="+id
                                }).then(function (resp){
                                    if(resp.data === "success"){
                                        // 重新查询数据
                                        _this.brand.brandName = '';
                                        _this.brand.status = '';
                                        _this.brand.companyName = '';
                                        _this.selectAll();
                                        diaryShow();//初始化渲染
                                        // 弹出消息提示
                                        _this.$notify({
                                            title: '删除',
                                            message: '删除成功',
                                            type: 'success'
                                        });
                                    }
                                })

                        })
                    })
                }).catch(() => {
                    //用户点击取消按钮
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },
            //修改按钮  并且 回显数据
            changeById(e){
                let _this = this;
                let showData = {
                    status: '',
                    brandName: '',
                    companyName: '',
                    id: "",
                    ordered: "",
                    imageUrl:"",
                    flag: "1"
                }
                //根据id查询商品图片路径
                axios({
                    method:"get",
                    url:"http://localhost:8080/Java_war/brand/selectImgUrlByIdServlet?id="+e.id
                }).then(function (resp){
                    showData.imageUrl = resp.data;
                    //根据id查询商品信息
                    axios({
                        method:"get",
                        url:"http://localhost:8080/Java_war/brand/ChangeById?id="+e.id
                    }).then(function (resp){
                        showData.status = resp.data.status;
                        showData.brandName = resp.data.brandName;
                        showData.companyName = resp.data.companyName;
                        showData.id = resp.data.id;
                        showData.flag = resp.data.flag;
                        showData.ordered = resp.data.ordered;
                        _this.brand = showData;
                    })
                })
            },
            //确认修改之后 , 修改商品信息
            changeBrand(){
                let _this = this;
                let newBrandName = this.brand.brandName;
                if(_this.brand.brandName === "" || _this.brand.companyName === "" || _this.brand.imageUrl === "" || _this.brand.ordered === "" || _this.brand.imageUrl === ""){
                    _this.$message({
                        showClose: true,
                        message: '请完善商品信息',
                        type: 'error'
                    });
                }
                else{
                    //先判断商品图片是否有重复
                    axios({
                        method:"get",
                        url:"http://localhost:8080/Java_war/brand/selectImageUrl?imageUrl="+_this.brand.imageUrl+"&id="+_this.brand.id
                    }).then(function (resp) {
                        if (resp.data === "exist") {
                            _this.$message({
                                showClose: true,
                                message: '图片重复',
                                type: 'error'
                            });
                            //关闭窗口
                            _this.dialogVisible = false;
                        }
                        else{
                            //判断新添加的商品是否会产生重复
                            axios({
                                method:"get",
                                url:"http://localhost:8080/Java_war/brand/selectRepeat?brandName="+_this.brand.brandName+"&companyName="+_this.brand.companyName+"&id="+_this.brand.id
                            }).then(function (resp){
                                if(resp.data === "0"){
                                    _this.$message({
                                        showClose: true,
                                        message: '该商品已被删除,请查看日志',
                                        type: 'error'
                                    });
                                }
                                else if (resp.data === "1"){
                                    _this.$message({
                                        showClose: true,
                                        message: '请勿重复添加商品',
                                        type: 'error'
                                    });
                                }
                                else if(resp.data === "no_repeat"){
                                    //修改商品信息
                                    axios({
                                        method:"post",
                                        url:"http://localhost:8080/Java_war/brand/updateBrand?id="+_this.brand.id,
                                        data:_this.brand
                                    }).then(function (resp){
                                        if(resp.data === "success"){
                                            axios({
                                                method:"get",
                                                url:"http://localhost:8080/Java_war/brand/updateImageName?id="+_this.brand.id+"&newBrandName="+newBrandName+"&imageUrl="+_this.brand.imageUrl
                                            }).then(function (resp){
                                                if(resp.data === "success"){
                                                    _this.brand.brandName = '';
                                                    _this.brand.companyName = '';

                                                    _this.$message({
                                                        showClose: true,
                                                        message: '修改成功',
                                                        type: 'success'
                                                    });
                                                    //关闭窗口
                                                    _this.dialogVisible = false;
                                                    // 重新查询数据
                                                    _this.selectAll();
                                                }
                                            })
                                        }
                                    })
                                }
                            })
                        }
                    })
                }
            },
            //点击取消按钮之后,清空输入框的内容
            clearBrandInformation(){
                console.log("清空");
                this.brand.brandName = '';
                this.brand.companyName = '';
                this.dialogVisible = false;
            },
            // 查询分页数据
            selectAll(){
                console.log("当前页:"+this.currentPage);
                console.log("每页展示条数: "+this.pageSize);
                axios({
                    method:"post",
                    url:"http://localhost:8080/Java_war/brand/selectByPageAndCondition?currentPage="+this.currentPage+"&pageSize="+this.pageSize,
                    data:this.brand
                }).then(resp =>{
                    //设置表格数据
                    this.tableData = resp.data.rows; // {rows:[],totalCount:100}
                    //设置总记录数
                    this.totalCount = resp.data.totalCount;
                })
            },

            tableRowClassName({row, rowIndex}) {
                if (rowIndex === 1) {
                    return 'warning-row';
                } else if (rowIndex === 3) {
                    return 'success-row';
                }
                return '';
            },
            // 复选框选中后执行的方法
            handleSelectionChange(val) {
                this.multipleSelection = val;
                // console.log(this.multipleSelection)
            },
            // 查询方法
            onSubmit() {
                //console.log(this.brand);
                this.selectAll();
            },
            sendmessage(){
                this.getmessage = true;
            },
            // 添加数据
            // 添加的时候 在先向tb_brand表中添加信息的同时 向tb_brandimages表中添加商品的名称 并且提交事务
            addBrand() {
                if(this.brand.status === ""){
                    this.brand.status = "禁用";
                }
                //console.log(this.brand);
                var _this = this;
                if(_this.brand.brandName === "" || _this.brand.companyName === "" || _this.brand.imageUrl === "" || _this.brand.ordered === "" || _this.brand.imageUrl === ""){
                    _this.$message({
                        showClose: true,
                        message: '请完善商品信息',
                        type: 'error'
                    });
                }
                else{
                    // 发送ajax请求，添加数据
                    //先判断图片路径是否重复
                    axios({
                        method:"get",
                        url:"http://localhost:8080/Java_war/brand/selectImageUrl?imageUrl="+_this.brand.imageUrl+"&id="+0
                    }).then(function (resp){
                        if(resp.data === "exist"){
                            alert("图片路径重复");
                        }
                        else{
                            //判断商品是否重复
                            axios({
                                method:"get",
                                url:"http://localhost:8080/Java_war/brand/selectRepeat?brandName="+_this.brand.brandName+"&companyName="+_this.brand.companyName+"&id="+0
                            }).then(function (resp) {
                                if (resp.data === 0) {
                                    _this.$message({
                                        showClose: true,
                                        message: '该商品已被删除,请查看日志',
                                        type: 'error'
                                    });
                                    //关闭窗口
                                    _this.getmessage = false;
                                }
                                else if (resp.data === 1) {
                                    _this.$message({
                                        showClose: true,
                                        message: '请勿重复添加商品',
                                        type: 'error'
                                    });
                                    //关闭窗口
                                    _this.getmessage = false;
                                }
                                else if(resp.data === "no_repeat"){
                                    axios({
                                        method:"post",
                                        url:"http://localhost:8080/Java_war/brand/addBrandServlet",
                                        data:_this.brand
                                    }).then(function (resp) {
                                        if(resp.data === "success"){
                                            //添加成功
                                            _this.brand.brandName = '';
                                            _this.brand.ordered = '';
                                            _this.brand.companyName = '';
                                            _this.brand.imageUrl = "无";
                                            //关闭窗口
                                            _this.getmessage = false;
                                            _this.selectAll();
                                            // 弹出消息提示
                                            _this.$message({
                                                message: '恭喜你，添加成功',
                                                type: 'success'
                                            });
                                        }
                                    })
                                }
                            })

                        }
                    })
                }
            },

            //分页
            handleSizeChange(val) {
                //console.log(`每页 ${val} 条`);
                // 重新设置每页显示的条数
                this.pageSize  = val;
                this.selectAll();
            },
            handleCurrentChange(val) {
                //console.log(`当前页: ${val}`);
                // 重新设置当前页码
                this.currentPage  = val;
                this.selectAll();
            },

            // 批量删除
            deleteByIds(){
                this.$confirm('此操作将删除该数据, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    //用户点击确认按钮
                    //1. 创建id数组 [1,2,3], 从 this.multipleSelection 获取即可
                    for (let i = 0; i < this.multipleSelection.length; i++) {
                        let selectionElement = this.multipleSelection[i];
                        this.selectedIds[i] = selectionElement.id;
                    }
                    //2. 发送AJAX请求
                    var _this = this;
                    //先查询商品名称
                    axios({
                        method:"post",
                        url:"http://localhost:8080/Java_war/brand/selectByIds",
                        data:_this.selectedIds
                    }).then(function (resp){
                        let brandNames = resp.data;
                        let arr_brandNames = new Array();
                        for(let i = 0 ; i < brandNames.length ; i++){
                            console.log(brandNames[i].brandName);
                            arr_brandNames[i] = brandNames[i].brandName;
                        }
                        //将数组转化为JSON字符串
                        let json_brandNames = JSON.stringify(arr_brandNames);
                        console.log(json_brandNames);
                        //发送请求 删除图片路径
                        axios({
                            method:"psot",
                            url:"http://localhost:8080/Java_war/brand/deleteImagesByBrandNames",
                            data:json_brandNames
                        }).then(function (resp){
                            console.log(resp.data);
                            // 发送ajax请求，删除
                            axios({
                                method:"post",
                                url:"http://localhost:8080/Java_war/brand/deleteByIds",
                                data:_this.selectedIds
                            }).then(function (resp) {
                                if(resp.data === "success"){
                                    //删除成功
                                    // 重新查询数据
                                    _this.brand.brandName = '';
                                    _this.brand.companyName = '';
                                    _this.selectAll();
                                    diaryShow();//初始化渲染
                                    // 弹出消息提示
                                    _this.$message({
                                        message: '恭喜你，删除成功',
                                        type: 'success'
                                    });
                                }
                            })

                        })
                    })

                }).catch(() => {
                    //用户点击取消按钮
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },
            //点击返回按钮,重新渲染页面
            back(){
                location.reload();
            }
        },
        data() {
            return {
                //新增的弹框
                getmessage:false,
                // 每页显示的条数
                pageSize:5,
                // 总记录数
                totalCount:100,
                // 当前页码
                currentPage: 1,
                // 添加数据对话框是否展示的标记
                dialogVisible: false,

                // 品牌模型数据
                brand: {
                    status: '',
                    brandName: '',
                    companyName: '',
                    id: "",
                    ordered: "",
                    imageUrl:"无",
                    flag: "1"
                },
                // 被选中的id数组
                selectedIds:[],
                // 复选框选中数据集合
                multipleSelection: [],
                // 表格数据
                tableData: [{
                    brandName: '华为',
                    companyName: '华为科技有限公司',
                    ordered: '100',
                    status: "1"
                }, {
                    brandName: '华为',
                    companyName: '华为科技有限公司',
                    ordered: '100',
                    status: "1"
                }, {
                    brandName: '华为',
                    companyName: '华为科技有限公司',
                    ordered: '100',
                    status: "1"
                }, {
                    brandName: '华为',
                    companyName: '华为科技有限公司',
                    ordered: '100',
                    status: "1"
                }]
            }
        }
    })
    const engineerName = document.querySelector(".engineerName");
    const name_person = document.getElementById("name_person");//个人中心页面姓名
    window.onload = function (){
        let btns = document.querySelectorAll(".btn");
        let divs = document.querySelectorAll(".handoff");
        console.log(btns.length);
        for(let i = 0 ; i < btns.length ; i++){
            btns[i].index = i;
            btns[i].onclick = function (){
                for(let j = 0 ; j < btns.length ; j++){
                    btns[j].className="btn";
                    divs[j].className="handoff";
                }
                this.classList.add("btn_first");
                divs[this.index].classList.add("show");
            }
        }
        //工程师姓名
        axios({
            method:"get",
            url:"http://localhost:8080/Java_war/engineer/Engineer_showEngineerServlet"
        }).then(function (resp){
            engineerName.innerHTML = resp.data;
            name_person.innerHTML = resp.data;
        })
        //个人中心界面展示
        axios({
            method: "get",
            url: "http://localhost:8080/Java_war/engineer/selectAllEngineerInformation"
        }).then(function (resp){
            //resp.data 会自动转化为JSON对象
            let engineerInformationAll = resp.data;
            //地址 电话号码 入职时间 部门编号
            document.getElementById("address_person").innerHTML = engineerInformationAll.city;
            document.getElementById("telephone_person").innerHTML = engineerInformationAll.telephone;
            document.getElementById("onboarding_person").innerHTML = engineerInformationAll.onboarding;
            //部门编号需要转换为部门
            let dept = engineerInformationAll.department;
            // console.log("部门编号: "+dept);
            //通过改部门编号查询出工程师所属部门
            axios({
                method: "get",
                url: "http://localhost:8080/Java_war/engineer/engineerDepartmentServlet?department="+dept
            }).then(function (resp){
                document.getElementById("department_person").innerHTML = resp.data;//部门名称
            })
        })

        //判断其状态为启用还是禁用

    }
    const greeting = document.querySelector(".greeting");
    let t = null;
    t = setInterval(time,1000);
    function time(){
        clearInterval(t);
        const showTime = document.querySelector(".date");
        let date = new Date();
        let hour = date.getHours();
        let minutes = date.getMinutes();
        if(hour < 10) {
            hour = '0'+hour;
        }
        if(minutes < 10){
            minutes = '0'+minutes;
        }
        let seconds = date.getSeconds();
        if(seconds < 10){
            seconds = '0'+seconds
        }
        if(hour >= 8 && hour < 12)
        {
            greeting.innerHTML = "早上好";
        }
        else if(hour >= 12 && hour <= 18)
        {
            greeting.innerHTML = "下午好";
        }
        else if(hour > 18 && hour <= 22)
        {
            greeting.innerHTML = "晚上好";
        }
        else
        {
            greeting.innerHTML = "注意休息";
        }
        //获取当前年 月 日 星期
        let nowYear = date.getFullYear();
        let nowMoth = date.getMonth();
        if(nowMoth < 10)
        {
            nowMoth = '0'+nowMoth;
        }
        let nowDate = date.getDate();
        if(nowDate < 10)
        {
            nowDate = '0'+nowDate;
        }
        let nowDay = date.getDay();
        let arr = ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'];
        //拼接
        let x = nowYear+'-'+nowMoth+'-'+nowDate+'-'+arr[nowDay];
        showTime.innerHTML = `${x}  ${hour} : ${minutes} : ${seconds}`;
        t = setInterval(time,1000);
    }
    //退出登录的功能实现
    const quit = document.querySelector(".quit"); //获取退出登录的按钮
    quit.addEventListener('click',function (){
        location.href="http://localhost:8080/Java_war/engineer/EngineerQuitServlet";
    })
    //修改电话号码的功能实现 通过工号进行修改
    const person_change = document.querySelector(".person_change");//获取修改按钮
    const change_teplphone = document.querySelector(".change_telephone");//获取修改电话号码的输入框
    person_change.addEventListener('click',function (){
        change_teplphone.style.display="block"; //弹出修改电话号码的输入框
    })
    //获取关闭修改号码输入框的按钮
    const telephone_close = document.querySelector(".telephone_close");
    telephone_close.addEventListener('click',function (){
        change_teplphone.style.display="none";
    })

    //获取号码框里面的内容
    const in_telephone_one = document.querySelector(".in_telephone_one");
    const in_telephone_two = document.querySelector(".in_telephone_two");
    const telephone_submit = document.querySelector(".telephone_submit");//提交按钮
    in_telephone_one.addEventListener('blur',function (){
        if(in_telephone_one.value === "") {
            alert("电话号码不能为空");
        }
    });
    in_telephone_two.addEventListener('blur',function (){
        if(in_telephone_one.value === ""){
            alert("电话号码不能为空");
        }
    })
    //提交输入的号码 开始检测并且修改
    telephone_submit.addEventListener('click',function (){
        if(in_telephone_one.value === "" || in_telephone_one.value === ""){
            alert("电话号码不能为空");
            return;
        }
        if(in_telephone_one.value !== in_telephone_two.value) {
            alert("两次输入的号码不一致");
            return;
        }
        //get请求
        axios({
            method:"get",
            url:"http://localhost:8080/Java_war/engineer/updateTelephone?telephone="+in_telephone_one.value
        }).then(function (resp){
            if(resp.data === "success"){
                alert("修改成功");
                change_teplphone.style.display="none";
                //将新号码渲染到页面之中
                document.getElementById("telephone_person").innerHTML = in_telephone_one.value;
            }
        })
    })

    const brand_showImage = document.getElementById("brand_showImage");//图片
    const image_urlCheck = document.getElementById("image_urlCheck");
    const image_name =document.querySelector(".image_name");
    //查看图片
    const brandImages_checkBtn = document.getElementById("brandImages_checkBtn");
    //点击查看图片按钮
    brandImages_checkBtn.addEventListener('click',function (){
        axios({
            method:"get",
            url:"http://localhost:8080/Java_war/brand/selectBrandImages?imageUrl="+image_urlCheck.value
        }).then(function (resp){
            if(resp.data !== "failed"){
                console.log("成功");
                image_name.innerHTML = resp.data;
                brand_showImage.src = image_urlCheck.value
            }
            else{
                alert("路径错误");
            }
        })
    })
    //日志
    //渲染页面
    const show_table = document.querySelector(".show_table");
    //封装渲染功能
    let renderingDiaryFunction = function (formData){
        if(formData !== "NULL"){
            console.log("length: "+formData.length);
            for(let i = 0 ; i < formData.length ; i++){
                show_table.insertAdjacentHTML(
                    "beforeend",
                    `<tr class="showTable_brand">
                            <td class="show_brandName">${formData[i].brandName}</td>
                            <td class="show_companyName">${formData[i].companyName}</td>
                            <td class="show_brandImage"><img src="${formData[i].imageUrl}" class="brandImgSrc"></td>
                            <td class="show_brandPrice">${formData[i].ordered}</td>
                            <td class="show_brandBtn">
                                <span style="display: none">${formData[i].id}</span>
                                <button class="restoreBtn">还原</button>
                            </td>
                        </tr>`)
            }
            restoreFunction();
        }
        else{
            show_table.innerHTML = '';

            show_table.insertAdjacentHTML(
                "beforeend",
                `<div style="position: relative ; top: 55px ; width: 1200px ; margin: 0 auto;">
                        <span style="font-size: 14px ; color: black ; position: relative ; left: 580px">暂无数据</span>
                        <hr>
                    </div>
                    `
            )
        }
    }
    let diaryShow = function (){
        axios({
            method:"get",
            url:"http://localhost:8080/Java_war/brand/selectRemoveBrand"
        }).then(function (resp){
            show_table.innerHTML = '';
            let formData = resp.data;
            renderingDiaryFunction(formData);
        })
    }
    //日志页面的还原功能
    let restoreFunction = function (){
        const restoreBtns = document.querySelectorAll(".restoreBtn");
        for(let i = 0 ; i < restoreBtns.length ; i++){
            restoreBtns[i].addEventListener('click',function (){
                //获取被点击的商品的id
                let id = this.previousElementSibling.innerText;
                // 根据id还原被删除的商品
                if(window.confirm('你确定要执行删除操作吗？')){
                    axios({
                        method:"get",
                        url:"http://localhost:8080/Java_war/brand/updateRemoveBrand?id="+id
                    }).then(function (){
                        show_table.innerHTML = '';
                        diaryShow();
                    })
                }
                else{
                    alert("取消操作");
                }
            })
        }
    }
    diaryShow();//初始化渲染
    //模糊查询被删除的商品
    //获取两个输入框 以及 查找按钮
    const diary_brandName = document.querySelector(".diary_brandName");
    const diary_companyName = document.querySelector(".diary_companyName");
    const diary_submit = document.getElementById("diary_submit");
    //点击查找按钮
    diary_submit.addEventListener('click',function (){
        axios({
            method:"get",
            url:"http://localhost:8080/Java_war/brand/selectLikeRemoveBrandServlet?brandName="+diary_brandName.value+"&companyName="+diary_companyName.value
        }).then(function (resp){
            if(resp.data === "NULL"){
                renderingDiaryFunction(resp.data);
            }
            else{
                let formData = [];
                formData.push(resp.data);
                //调用渲染页面 封装的函数
                show_table.innerHTML = '';
                renderingDiaryFunction(formData);
            }
        })
    })
    //点击返回按钮 , 重新渲染页面
    const diary_back = document.getElementById("diary_back");
    diary_back.addEventListener('click',function (){
        diary_brandName.value = '';
        diary_companyName.value = '';
        show_table.innerHTML = '';
        diaryShow();
    })
</script>