.w {
    width: 1200px;
    margin: 0 auto;
}

header {
    min-width: 100%;
    background-color: rgb(29, 29, 29);
    height: 60px;
}

.header .left li {
    /* padding-left: 20px; */
    float: left;
}

.header .right li,
button {
    float: right;
}

.header ul li a {
    color: rgb(107, 105, 105);
    font-size: 12px;
    padding-left: 12px;
    line-height: 40px;
}

.header ul li a:hover {
    color: #fff;
}

.header .right .dropdown .dropbtn {
    position: absolute;
    left: 955px;
    color: rgb(23, 23, 23);
    display: inline-block;
    padding: 4px 20px;
    line-height: 30px;
    background-color: rgba(29, 29, 29, 0);
}

.header .right .dropdown .dropbtn {
    background-color: #7d7d7d;
}

.header .right .dropdown .dropbtn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(242, 129, 8);
}

.header .right .dropbtn::before {
    padding-right: 2px;
    font-family: "icomoon";
    content: "\e93a";
}

/* 隐藏的盒子 */
.hiddens {
    display: none;
    width: 966px;
    height: 465px;
    position: absolute;
    top: 0px;
    left: 234px;
    z-index: 100;
    background-color: #fff;
}


.hiddens .hiddens-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 4px;
}

.hiddens .hiddens-flex .two span {
    position: absolute;
    font-size: 14px;
    color: black;
}

.hiddens .hiddens-flex .two .s12s {
    top: 11px;
    left: 76px;
}

.hiddens .hiddens-flex .two .SE {
    top: 11px;
    left: 326px;
}

.hiddens .hiddens-flex .two .K50 {
    top: 11px;
    left: 568px;
}

.hiddens .hiddens-flex .two .mi11 {
    top: 11px;
    left: 814px;
}

.hiddens .hiddens-flex .two .h5 {
    top: 89px;
    left: 76px;
}

.hiddens .hiddens-flex .two .C1 {
    top: 89px;
    left: 326px;
}

.hiddens .hiddens-flex .two .h7 {
    top: 89px;
    left: 568px;
}

.hiddens .hiddens-flex .two .h8 {
    top: 89px;
    left: 814px;
}

.hiddens .hiddens-flex .two .h9 {
    top: 167px;
    left: 76px;
}

.hiddens .hiddens-flex .two .h10 {
    top: 167px;
    left: 326px;
}

.hiddens .hiddens-flex .two .h11 {
    top: 167px;
    left: 568px;
}

.hiddens .hiddens-flex .two .h12 {
    top: 167px;
    left: 814px;
}

.hiddens .hiddens-flex .two .h13 {
    top: 245px;
    left: 76px;
}

.hiddens .hiddens-flex .two .h14 {
    top: 245px;
    left: 326px;
}

.hiddens .hiddens-flex .two .h15 {
    top: 245px;
    left: 568px;
}

.hiddens .hiddens-flex .two .h16 {
    top: 245px;
    left: 814px;
}

.hiddens .hiddens-flex .two .h17 {
    top: 323px;
    left: 76px;
}

.hiddens .hiddens-flex .two .h18 {
    top: 323px;
    left: 326px;
}

.hiddens .hiddens-flex .two .h19 {
    top: 323px;
    left: 568px;
}

.hiddens .hiddens-flex .two .h20 {
    top: 323px;
    left: 814px;
}

.hiddens .hiddens-flex .two .h21 {
    top: 401px;
    left: 76px;
}

.hiddens .hiddens-flex .two .h22 {
    top: 401px;
    left: 326px;
}

.hiddens .hiddens-flex .two .h23 {
    top: 401px;
    left: 568px;
}

.hiddens .hiddens-flex .two .h24 {
    top: 401px;
    left: 814px;
}

.hiddens .hiddens-flex .two {
    margin-right: 4px;
    margin-bottom: 4px;
    width: 237px;
    height: 73px;
}

.hiddens .hiddens-flex .two a {
    color: #7d7d7d;
}

/* 盒子显示 */
.aside-left .aside-flex .phone:hover .hiddens {
    display: block;
}

/* 购物车下滑菜单 */
/* 需要下拉的内容 */
.dropdown {
    position: relative;
    top: 10px;
}

.header .right .dropdown .dropdown-content {
    display: none;
    position: absolute;
    /* 缓慢弹出的动画 */
    overflow: hidden;
    /* 绑定动画名字并且设置持续时间 */
    animation-name: hiddens-Jframes;
    animation-duration: 1s;
    top: 40px;
    left: 872px;
    z-index: 99;
    background-color: rgb(248, 248, 248);
    width: 25%;
    height: 100px;
    text-align: center;
    line-height: 100px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
@keyframes hiddens-Jframes {
    from {
        height: 0px;
    }

    to {
        height: 100px;
    }
}
.header .right .dropdown:hover .dropdown-content {
    display: block;
}


nav {
    width: 100%;
    height: 100px;
    position: relative;
}

.mi-logo {
    height: 56px;
    width: 56px;
    display: block;
    position: absolute;
    top: 20px;
    left: 116px;
}

/* 导航栏中间部分 */
nav .nav .nav-flex {
    display: flex;
    line-height: 100px;
    margin-left: 142px;
}

nav .nav .nav-flex li {
    font-size: 13px;
    font-weight: 700;
    margin: 0 20px;
}

/* 搜索框 */
nav .nav .nav-flex li .search {
    border: 1px solid #7d7d7d;
    width: 235px;
    height: 50px;
    padding-left: 10px;
}

.aside-left {
    margin-top: 10px;
    height: 465px;
    width: 234px;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    top: -20px;
    z-index: 2;
}

.aside-left .aside-flex .one {
    width: 234px;
    height: 42px;
    /* padding: 20px 0; */
    /* padding-bottom: 20px; */
    float: left;
    margin-bottom: 5px;
    padding-left: 10px;
    line-height: 42px;
}

.aside-left .aside-flex .one a {
    color: #fff;
    font-size: 14px;
    padding: 10px 99px 10px 10px;
}

.aside-left .aside-flex .one a::after {
    font-family: 'icomoon';
    content: '\e904';
    /* display: inline-block; */
    float: right;
    padding-right: 10px;
}

/* 当鼠标经过侧边栏,变色 */
.aside-left .aside-flex .one:hover {
    background-color: rgb(251, 74, 4);
}

/* 轮播 */
.aside-right {
    position: absolute;
    top: 150px;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.aside-right1 {
    width: 6000px;
    animation: text 30s infinite linear;
    font-size: 0px;
    z-index: -9;
}

.aside-right1 img {
    width: 1200px;
    height: 465px;
    /* float: left; */
}

@keyframes text {

    0%,
    10% {
        margin-left: 0px;
    }

    20%,
    30% {
        margin-left: -1200px;
    }

    40%,
    50% {
        margin-left: -2400px;
    }

    60%,
    70% {
        margin-left: -3600px;
    }

    80%,
    90% {
        margin-left: -4800px;
    }

    100% {
        margin-left: -4800px;
    }
}

/* 精品推荐 */
.nice .nice-flex {
    display: flex;
    height: 170px;
}

.nice .nice-flex .one-1 {
    width: 234px;
    margin-left: 3px;
}

.nice .nice-flex .one-1:nth-child(n+3) {
    margin-left: 10px;
}

.nice .nice-flex li img {
    width: 234px;
    height: 170px;
}

.nice .nice-flex .nice-left {
    overflow: hidden;
    float: left;
}

.nice .nice-flex .nice-left ul li {
    float: left;
    width: 76px;
    height: 82px;
    background-color: #7d7d7d;
    border: 1px solid #e4e4e4;
}

.nice .nice-flex .nice-left ul li {
    margin-bottom: 10px;
}

.nice .nice-flex .nice-left ul li img {
    position: relative;
    top: 16px;
    left: 23px;
    width: 24px;
    height: 24px;
}

.nice .nice-flex .nice-left ul li p {
    line-height: 75px;
    text-align: center;
    color: #e4e4e4;
}

.nice .nice-flex .nice-left ul li a:hover p {
    color: #fff;
}

.main {
    margin-top: 10px;
    padding-top: 15px;
    background-color: #e4e4e4;
}

.main .main-maxhd img {
    width: 1200px;
}

/* 完成后注释
body {
    height: 9000px;
} */

.main .main-hd p {
    float: left;
    margin-top: 10px;
    font-size: 22px;
    font-weight: 200;
}

.main .main-hd a {
    margin-right: 5px;
    float: right;
    margin-top: 30px;
}

.main .main-hd .more {
    position: relative;
    top: 28px;
    right: -1179px;
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

.main .main-hd a::after {
    font-family: 'icomoon';
    padding-left: 15px;
    content: '\e904';
}

/* 商城 */
.goods .goods-left {
    float: left;
}

.goods .goods-left img {
    width: 234px;
    height: 614px;
}

.goods .goods-right {
    width: 950px;
    height: 614px;
    float: right;
    margin-left: 14px;
    min-height: 1px;
}

.goods .goods-right .goods-right-hd {
    height: 300px;
}

.goods .goods-right .goods-flex {
    display: flex;
}

.goods .goods-right .goods-flex li {
    background-color: #fff;
    width: 234px;
    height: 300px;
    padding: 20px 0;
    /* overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; */
}

.goods .goods-right .goods-flex li a img {
    width: 160px;
    height: 160px;
}

.goods .goods-right .goods-flex li a {
    padding-left: 16px;
    display: inline-block;
    text-align: center;
}

.goods .goods-right .goods-flex li:nth-child(-n+3) {
    margin-right: 5px;
}

.goods .goods-right .goods-flex li a span {
    color: rgb(242, 129, 8);
    font-size: 14px;
}

.goods .goods-right .goods-flex li a p {
    width: 195px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-bottom: 9px;
    color: rgb(145, 143, 143);
}

.goods .goods-right .goods-flex li a {
    padding-top: 10px;
}

.goods .goods-right .goods-flex li a p {
    padding-top: 10px;
}

.goods-right-bd {
    margin-top: 14px;
}

.goods-right-bd .goods-flex li a del {
    font-size: 13px;
}

.smart {
    margin-top: 20px;
}

.smart .smart-hd p {
    float: left;
    font-size: 22px;
    font-weight: 200;
}

.smart .smart-hd a {
    position: relative;
    top: 12px;
    right: -1043px;
    font-size: 14px;
}

.smart .smart-bd .smart-bd-left {
    float: left;
}

.smart .smart-bd .smart-bd-left img {
    width: 234px;
    height: 614px;
}

.smart .smart-bd .smart-bd-right .smart-flex {
    display: flex;
}

.smart .smart-bd .smart-bd-right .smart-flex li {
    background-color: #fff;
    width: 234px;
    height: 300px;
    padding: 20px 0;
}

.smart .smart-bd-right .smart-flex li a {
    padding-left: 16px;
    display: inline-block;
    text-align: center;
}

.smart .smart-bd-right .smart-flex li:nth-child(-n+3) {
    margin-right: 5px;
}

.smart .smart-bd-right .smart-flex li a span {
    color: rgb(242, 129, 8);
    font-size: 14px;
}

.smart .smart-bd-right .smart-flex li a h3 {
    padding-top: 10px;
}

.smart .smart-bd-right .smart-flex li a p {
    padding-top: 10px;
}

.smart .smart-bd-right .smart-flex li a p {
    width: 214px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-bottom: 17px;
    color: rgb(145, 143, 143);
}

.smart .smart-bd-right {
    width: 950px;
    height: 614px;
    float: right;
    margin-left: 14px;
    min-height: 1px;
    /* background-color: #fff; */
}

.smart .smart-bd-right .smart-right-hd {
    height: 300px;
}

.smart .smart-bd-right .smart-flex li a img {
    width: 160px;
    height: 160px;
}

.smart-right-bd {
    margin-top: 14px;
}

.smart-right-bd .more {
    float: right;
    position: relative;
    top: -300px;
    width: 234px;
    height: 143px;
    background-color: #fff;
}

.smart-right-bd .more h3 {
    font-size: 22px;
    font-weight: 400;
    color: rgb(23, 23, 23);
    line-height: 143px;
    padding-left: 12px;
}

.smart-right-bd .more p {
    position: absolute;
    top: 90px;
    left: 10px;
}

.smart-right-bd .more1 {
    position: relative;
    top: -245px;
    left: 840px;
    width: 48px;
    height: 48px;
    border: 2px solid #ff6700;
    background-color: transparent;
    border-radius: 50%;
}

.smart-right-bd .more1::before {
    position: relative;
    font-size: 20px;
    color: #ff6700;
    top: 8px;
    left: 13px;
    font-family: 'icomoon';
    content: '\ea3c';
}

.house {
    margin-top: 20px;
    position: relative;
}

.house .house-max-hd p {
    font-size: 22px;
    font-weight: 200;
}

.house .house-max-hd .a1 {
    position: absolute;
    top: 10px;
    right: 115px;
    font-size: 16px;
}

.house .house-max-hd .a2 {
    position: absolute;
    top: 10px;
    right: 37px;
    font-size: 16px;
}

.house .house-hd {
    height: 300px;
}

.house .house-hd .house-hd-flex {
    display: flex;
}

.house .house-hd .house-hd-flex li {
    width: 224px;
}

.house .house-hd .house-hd-flex li:nth-child(n+2) {
    margin-left: 10px;
    background-color: #fff;
}

.house .house-hd .house-hd-flex li:nth-child(n+2) img {
    width: 160px;
    height: 160px;
}

.house .house-hd .house-hd-flex li a {
    padding-left: 16px;
    display: inline-block;
    text-align: center;
}


.house .house-hd .house-hd-flex li a span {
    color: rgb(242, 129, 8);
    font-size: 14px;
}

.house .house-hd .house-hd-flex li a h3 {
    padding-top: 25px;
}

.house .house-hd .house-hd-flex li a p {
    padding-top: 25px;
}

.house .house-hd .house-hd-flex li a p {
    width: 211px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-bottom: 17px;
    color: rgb(145, 143, 143);
}

.house .house-hd .house-hd-flex li:nth-child(5) {
    padding-top: 10px;
}

.house .house-bd {
    height: 300px;
}

.house .house-bd .house-bd-flex {
    display: flex;
}

.house .house-bd .house-bd-flex li {
    margin-top: 5px;
    width: 224px;
}

.house .house-bd .house-bd-flex li:nth-child(n+2) {
    margin-left: 10px;
    background-color: #fff;
}

.house .house-bd .house-bd-flex li a img {
    width: 160px;
    height: 160px;
}

.house .house-bd .house-bd-flex li a {
    display: inline-block;
    text-align: center;
    padding-left: 10px;
}

.house .house-bd .house-bd-flex li a h3 {
    padding-top: 25px;
}

.house .house-bd .house-bd-flex li a p {
    padding-top: 25px;
    width: 211px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-bottom: 17px;
    color: rgb(145, 143, 143);
}

.house .house-bd .house-bd-flex li a span {
    color: rgb(242, 129, 8);
    font-size: 14px;
    padding-right: 5px;
}


.house .house-bd .house-bd-flex li:last-of-type {
    position: relative;
    height: 143px;
}

.house .house-bd .house-bd-flex li:last-of-type a {
    display: inline-block;
}

.house .house-bd .house-bd-flex li:last-of-type a img {
    float: right;
    position: absolute;
    top: 23px;
    left: 144px;
}

.house .house-bd .house-bd-flex li:last-of-type a h3 {
    width: 100px;
    text-align: left;
    position: absolute;
    top: 23px;
    left: 12px;
}

.house .house-bd .house-bd-flex li:last-of-type a span {
    position: absolute;
    top: 91px;
    left: 14px;
}

.house .house-bd .more {
    float: right;
    position: relative;
    top: -143px;
    left: -40px;
    width: 224px;
    height: 143px;
    background-color: #fff;
}

.house .house-bd .more h3 {
    font-size: 22px;
    font-weight: 400;
    color: rgb(23, 23, 23);
    line-height: 143px;
    padding-left: 12px;
}

.house .house-bd .more p {
    position: absolute;
    top: 90px;
    left: 13px;
}

.house .house-bd .more1 {
    position: relative;
    top: -91px;
    left: 1071px;
    width: 48px;
    height: 48px;
    border: 2px solid #ff6700;
    background-color: transparent;
    border-radius: 50%;
}

.house .house-bd .more1::before {
    position: relative;
    font-size: 20px;
    color: #ff6700;
    top: 8px;
    left: 13px;
    font-family: 'icomoon';
    content: '\ea3c';
}

/* .house-max-one {
    position: relative;
    top: -80px;
    height:
} */

/* dian */
.house .house-bd .dian {
    float: right;
    position: relative;
    top: -143px;
    left: -273px;
    width: 224px;
    height: 143px;
    background-color: #fff;
}

.house .house-bd .dian h3 {
    font-size: 22px;
    font-weight: 400;
    color: rgb(23, 23, 23);
    line-height: 143px;
    padding-left: 12px;
}

.house .house-bd .dian p {
    position: absolute;
    top: 90px;
    left: 13px;
}

.house .house-bd .dian1 {
    position: relative;
    top: -91px;
    left: 833px;
    width: 48px;
    height: 48px;
    border: 2px solid #ff6700;
    background-color: transparent;
    border-radius: 50%;
}

.house .house-bd .dian1::before {
    position: relative;
    font-size: 20px;
    color: #ff6700;
    top: 8px;
    left: 13px;
    font-family: 'icomoon';
    content: '\ea3c';
}

.view {
    margin-top: 30px;
    position: relative;
    margin-bottom: 30px;
}

.view-bd {
    position: relative;
}

.view .view-hd p {
    font-size: 22px;
    font-weight: 200;
}

.view .view-hd a {
    position: absolute;
    top: 10px;
    left: 1093px;
    font-size: 16px;
}

.view .view-bd .view-flex {
    display: flex;
}

.view .view-bd .view-flex li {
    min-width: 296px;
    height: 285px;
    background-color: #fff;
}

.view .view-bd .view-flex li:nth-child(-n+3) {
    margin-right: 10px;
}

.view .view-bd .view-flex li a img {
    width: 296px;
    height: 180px;
}

.view .view-bd .view-flex li a p {
    padding-top: 30px;
    font-size: 16px;
    color: black;
    text-align: center;
}

.view .view-bd .view-flex li a i {
    color: #e4e4e4;
    font-size: 12px;
    padding-left: 83px;

}

/* 播放三角 */
.view .view-bd .view-flex li a span {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 12px;
    border: 2px solid #fff;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 137px;
}

.view .view-bd .view-flex li a span::after {
    font-family: 'icomoon';
    content: '\e905';
    font-size: 22px;
    color: rgb(255, 255, 255);
    position: absolute;
    top: -2px;
    left: 4px;
}

/* 视频1 */
.view .view-bd .view-flex li:nth-child(1) a span {
    left: 10px;
}

/* 视频2 */
.view .view-bd .view-flex li:nth-child(2) a span {
    left: 320px;
}

.view .view-bd .view-flex li:nth-child(3) a span {
    left: 630px;
}

.view .view-bd .view-flex li:nth-child(4) a span {
    left: 940px;
}

.foot {
    margin-top: 20px;
}

.foot .foot-hd {
    position: relative;
    padding: 27px 0;
    border-bottom: 1px solid #e4e4e4;
}

.foot .foot-hd .foot-hd-flex {
    display: flex;
}

.foot .foot-hd .foot-hd-flex li {
    width: 19.8%;
    height: 25px;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}

.foot .foot-hd .foot-hd-flex li:nth-child(-n+4) {
    border-right: 1px solid #e4e4e4;
}

.foot .foot-hd .foot-hd-flex .fix::before {
    font-family: 'icomoon';
    content: '\e908';
    padding-right: 10px;
    font-size: 22px;
}

.foot .foot-hd .foot-hd-flex .seven::before {
    font-family: 'icomoon';
    content: '\ea2e';
    font-size: 22px;
    position: absolute;
    left: 283px;
}

.foot .foot-hd .foot-hd-flex .shiwu::before {
    font-family: 'icomoon';
    content: '\e984';
    padding-right: 10px;
    font-size: 19px;
}

.foot .foot-hd .foot-hd-flex .amazing::before {
    font-family: 'icomoon';
    content: '\e9da';
    padding-right: 10px;
    font-size: 19px;
}

.foot .foot-hd .foot-hd-flex .city::before {
    font-family: 'icomoon';
    content: '\e948';
    padding-right: 10px;
    font-size: 19px;
}

.foot .foot-bd {
    padding: 40px 0;
    margin-left: 185px;
}

.foot .foot-bd dl {
    float: left;
    width: 160px;
    margin-right: 15px;
}

.foot .foot-bd dl dt {
    font-size: 16px;
}

.foot .foot-bd dl dd:nth-child(-n+11) {
    margin-top: 10px;
}

.foot .foot-bd dl dd:first-of-type {
    margin-top: 20px;
}

.foot .foot-bd .foot-bd-right {
    position: relative;
    bottom: 112px;
    right: -20px;
    float: right;
    width: 251px;
    text-align: center;
    border-left: 1px solid #7d7d7d;
}

.foot .foot-bd .foot-bd-right .phone {
    font-size: 22px;
    line-height: 1;
    color: #ff6700;
}

.foot .foot-bd .foot-bd-right p {
    margin: 0 0 5px 0;
    font-size: 12px;
}

.foot .foot-bd .foot-bd-right a {
    display: inline-block;
    line-height: 2;
    width: 120px;
    height: 30px;
    color: #ff6700;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #ff6700;
}

.foot .foot-bd .foot-bd-right a::before {
    font-family: 'icomoon';
    content: '\e907';
    line-height: 2;
}



.max-foot {
    margin-top: 10px;
    padding-top: 15px;
    background-color: #e4e4e4;
}

.max-foot .max-foot-container a {
    display: inline-block;
    margin: 0 3px;
}

.max-foot .max-foot-container a:first-of-type {
    padding-left: 80px;
}

.max-foot .max-foot-container .foot-two {
    padding-left: 140px;
}

.max-foot .max-foot-container i:first-of-type {
    padding-left: 140px;
}

.max-foot .max-foot-container i {
    margin: 0 3px;
}

.max-foot .max-foot-container .img-two {
    padding-left: 140px;
}

.max-foot .max-foot-container img {
    width: auto;
    height: 28px;
}

/* 小米提示栏 */
.left-fixed {
    position: fixed;
    top: 265px;
    right: 70px;
}

/* 主轴为垂直方向,起点在上 */
.left-fixed .fixed-flex {
    display: flex;
    flex-direction: column;
}

.left-fixed .fixed-flex li {
    width: 27px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    background-color: #fff;
    border-top: 1px solid #cdcccc;
    border-left: 1px solid #cdcccc;
    border-right: 1px solid #cdcccc;
}

.left-fixed .fixed-flex li:last-of-type {
    margin-top: 20px;
    border-bottom: 1px solid #cdcccc;
}

.left-fixed .fixed-flex li a img {
    width: 20px;
    height: 20px;
}

/* 三角 */
.left-fixed .fixed-flex .sanjiao {
    display: none;
    position: fixed;
    top: 279px;
    right: 90px;
    width: 0px;
    height: 12px;
    border: 8px solid #fff;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
}

/* 动画 */
@keyframes frames {
    from {
        height: 0px;
    }

    to {
        height: 142px;
    }
}

.left-fixed .fixed-flex .zhengfangxing {
    /* 缓慢弹出的动画 */
    overflow: hidden;
    /* 绑定动画名字并且设置持续时间 */
    animation-name: frames;
    animation-duration: 1s;
    position: fixed;
    top: 222px;
    right: 107px;
    width: 130px;
    background-color: #fff;
}

.left-fixed .fixed-flex .zhengfangxing img {
    padding-top: 10px;
}

.left-fixed .fixed-flex .zhengfangxing span {
    color: #aaa6a6;
}

/* 三角弹出 */
.left-fixed .fixed-flex .num:hover .sanjiao {
    display: block;
}

/* 鼠标经过变色的效果 */
.foot .foot-bd .foot-bd-right a:hover {
    background-color: #ff6700;
    color: #fff;
}

/* 视频特效 */
.view .view-bd .view-flex li a:hover span {
    background-color: #ff6700;
    border-color: #ff6700;
}

.view .view-hd a:hover {
    color: #ff6700;
}

.house .house-max-hd .a-2:hover {
    color: #ff6700;
}

.house .house-max-hd .A-1:hover {
    color: #ff6700;
    text-decoration: underline;
}

.house .house-max-hd .A-2:hover {
    color: #ff6700;
    text-decoration: underline;
}

.ff6700:hover {
    color: #ff6700;
}

.f-more:hover {
    color: #ff6700;
}

.f-more:hover+.more {
    color: #ff6700;
    background-color: rgba(255, 255, 255, 0.2);
}

/* 下载App */
.header {
    position: relative;
    line-height: 60px;
}

.App {
    display: none;
    position: absolute;
    top: 23px;
    right: 556px;
    z-index: 99;
    width: 0px;
    height: 0px;
    text-align: center;
    border: 8px solid #fff;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}

.App .erweima img {
    position: absolute;
    top: 9px;
    right: -45px;
    /* 缓慢弹出的动画 */
    overflow: hidden;
    /* 绑定动画名字并且设置持续时间 */
    animation-name: Jframes;
    animation-duration: 1s;
}


.header .left .download:hover .App {
    display: block;
}


@keyframes Jframes {
    from {
        height: 0px;
    }

    to {
        height: 90px;
    }
}

/* 上浮动画 */
.up:hover {
    /* 水平阴影的位置 垂直阴影的位置 模糊距离 阴影大小 */
    box-shadow: 0 16px 32px 0 rgba(48, 55, 66, 0.15);
    /* x轴y轴 */
    transform: translate(0, -5px);
}

/* 上浮的时间 */
.up-time {
    transition: all 0.3s;
}

.up-dian:hover+.v {
    transform: translate(0, -5px);
}

#index_avatar{
    position: absolute;
    right: 46px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#index_avatar,#index_nickname:hover{
    cursor: pointer;
}

.search_tip{
    position: absolute;
    top: 145px;
    left: 975px;
    width: 360px;
    height: 195px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    background-color: #fff;
    z-index: 3;
    border-radius: 20px;
    overflow: scroll;
    -ms-overflow-style: none;
    overflow-x: hidden;
    overflow-y: auto;
}

.search_tip .tip_information{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.search_tip .tip_information li{
    font-size: 14px;
    color: black;
    line-height: 40px;
    height: 40px;
}

.search_tip .tip_information li:first-child{
    margin-top: 20px;
}

.search_tip .tip_information li:hover{
    cursor: pointer;
    background-color: #cccccc;
}

.search_tip .tip_information .tip_brandName a{
    padding-right: 90px;
    padding-left: 90px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.right .content_flex{
    display: flex;
    flex-direction: column;
}

.right .content_flex .content_brand{
    font-size: 14px;
    color: black;
    line-height: 25px;
}

#dropContent{
    overflow: hidden;
}
