.w{
    width: 1200px;
    margin: 0 auto;
}

header .header{
    background-color: #409EFF;
    box-shadow:5px 5px 10px gray;
    height: 90px;
}

header .header .header_flex{
    display: flex;
    justify-content: center;
}

header .header .header_flex li{
    padding-left: 10px;
    font-size: 14px;
    color: white;
    line-height: 90px;
}

header .header .header_flex .system{
    padding-right: 369px;
    padding-left: 236px;
}

header .header .header_flex .quit:hover {
    cursor: pointer;
}

.el-table .warning-row {
    background: oldlace;
}

.el-table .success-row {
    background: #f0f9eb;
}

tbody{
    text-align: center;
}


.el-table tr{
    height: 55px;
}

.left .left_flex{
    display: flex;
    flex-direction: column;
}

.left .left_flex li{
    width: 150px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    color: white;
    font-size: 14px;
}

.left .left_flex li:nth-child(-n+3){
    border-bottom: 1px solid #cccccc;
}

.left .left_flex li:hover{
    cursor: pointer;
}

.left{
    width: 150px;
    position: absolute;
    background-color: rgba(7, 120, 189, 0.83);
    height: 100vh;
}

.right{
    padding-left: 150px;
    padding-top: 10px;
}

.el-pagination{
    position: fixed;
    bottom: 0;
}

.left .left_flex .btn_first{
    background-color: #2775b6;
}

.handoff{
    display: none;

}

.right .show{
    display: block;
}

.handoff .person_right .person_change{
    background-color:dodgerblue;
    color:white;
    width: 300px;
    height: 47px;
    border:0;
    font-size: 16px;
    border-radius: 30px;
}

#person{
    position: absolute;
    top: 100px;
    left: 620px;
}

.handoff .person_left .person_flex{
    display: flex;
    flex-direction: column;
}

.handoff .person_left .person_flex li{
    padding-bottom: 50px;
}

.handoff .person_left .person_flex li:nth-child(-n+1){
    padding-top: 25px;
}

.handoff .person_left .person_flex .left_name_span,
.left_address_span,
.left_telephone_span,
.left_onboarding_span,
.left_department_span{
    color: #826b48;
    font-size: 14px;
    font-weight: 700;
    padding-right: 20px;
}

.handoff .person_left .person_flex .person_show{
    color: #393733;
    font-weight: 800;
    font-size: 16px;
}

.handoff .person_img{
    opacity: 0.5;
    position: fixed;
    top:90px;
    left: 150px;
    /* 1vw=1%可视窗口高度 */
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter: blur(-5px);
    background-image: url(/images/bg1.webp);
    background-repeat: no-repeat;
}

.change_telephone .change_telephone_flex{
    display: flex;
    flex-direction: column;
    margin-left: 37px;
    margin-top: 45px;
}

.change_telephone{
    position: absolute;
    top: 55px;
    left: -45px;
    z-index: 2;
    width:370px;
    height:270px;
    background-color: #eef7f2;
}

.change_telephone input{
    -webkit-appearance: none;
    outline-style: none ;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 13px 14px;
    width: 280px;
    font-size: 14px;
    font-weight: 700;
    font-family: "Microsoft soft";
    margin: 2px;
}

.change_telephone button{
    background-color: #1795bb;
    border-radius: 12px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 43px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.change_telephone button:hover{
    background-color: #fff;
    color: #1795bb;
    border: 1px solid #ccc;
}

.change_telephone .change_telephone_flex input:nth-child(-n+1){
    margin-bottom: 25px;
}

.change_telephone .change_telephone_flex .in_telephone_two{
    margin-top: 20px;
}

.handoff .addBrandImage .inputText{
    width: 500px;
    height: 50px;
    line-height: 30px;
    font-size: 30px;
    padding-left: 30px;
    border-radius: 50px;
    background-color: gainsboro;
    border: none;
}

.handoff .addBrandImage .inputText:focus{
    outline: none;
    background-color: lightblue;
}

.handoff .brandImage_btn .btn-primary{
    margin-left: 40px;
    width: 150px;
    height: 50px;
    border: none;
    background-color: green;
    line-height: 50px;
    font-size: 30px;
    text-align: center;
    background-color: blue;
    color: white;
    border-radius: 50px;
}

.handoff .brandImage_btn .btn-primary:focus{
    outline: none;
}

.handoff .addBrandImage {
    display: flex;
    flex-direction: column;
}

.handoff .addBrandImage input{
    margin: 20px;
}

#brandImages{
    margin-left: 7px;
    position: relative;
    top: -30px;
    left: 350px;
}


.handoff .brand_image{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20px;
    left: -355px;
    height: 100vh;
}

.handoff .brand_image span{
    font-size: 16px;
    color: black;
}

.handoff .brand_image .brand_image_flex img{
    width: 310px;
    height: 310px;
}

.handoff .brand_image .brand_image_flex{
    display: flex;
    /*flex-direction: column;*/
}

.handoff .brand_image .brand_image_flex span{
    margin-top: 150px;
}

.handoff .brand_image .brand_image_flex .image_name,.image_company,.image_money{
    padding-right: 170px;
}


.handoff .addBrandImage .tip_brandName{
    color: red;
    font-size: 14px;
    position: relative;
    top: -60px;
    left: 535px;
}

.handoff .addBrandImage{
    position: relative;
}

.handoff .brand_image .inputText{
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 40px;
    width: 270px;
    border: 1px solid red;
    border-radius: 20px;
    padding-left: 20px;;
}

#brandImages_checkBtn{
    margin-bottom: 20px;
    position: absolute;
    top: 50px;
    left: 295px;
    width: 50px;
    height: 25px;
    background-color: #fff;
    border: 1px solid red;
}

#diary{
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    margin-left: 20px;
}

.handoff .handoffSearch .diary_brandName,.diary_companyName{
    -webkit-appearance: none;
    background-color: #FFF;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #DCDFE6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    height: 40px;
    width: 20%;
    line-height: 40px;
    outline: 0;
    padding: 0 15px;
    -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
}

#diary_submit{
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid #DCDFE6;
    color: #fbfbff;
    -webkit-appearance: none;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    -webkit-transition: .1s;
    transition: .1s;
    font-weight: 500;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
    background-color: #5d9ff8;
}

.handoff .top_table,.show_table{
    position: relative;
    left: -90px;
    margin-top: 20px;
}

.handoff .top_table thead tr th{
    width: 240px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: black;
}

.handoff .show_table tr td{
    width: 240px;
    text-align: center;
    color: black;
    font-size: 12px;
}

.show_table .showTable_brand .show_brandImage img{
    width: 80px;
}

.show_table .showTable_brand .show_brandBtn .restoreBtn{
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid #DCDFE6;
    color: #fbfbff;
    -webkit-appearance: none;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    -webkit-transition: .1s;
    transition: .1s;
    font-weight: 500;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
    background-color: #d95f3c;
}

#diary_back{
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid #DCDFE6;
    color: #fbfbff;
    -webkit-appearance: none;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    -webkit-transition: .1s;
    transition: .1s;
    font-weight: 500;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
    background-color: #727070;
}



