.w {
    width: 1200px;
    margin: 0 auto;
}

body {
    height: 100vh;
    overflow: hidden;
}

header {
    width: 100vm;
    height: 80px;
    background-color: #000000;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

header .head {
    display: flex;
    position: relative;
    line-height: 80px;
}

header .head_left {
    display: flex;
}

header .head_left span:hover {
    cursor: pointer;
}

header .head_left .logo img {
    width: 60px;
    margin-right: 15px;
}

header .head_left .webName p {
    font-size: 14px;
    color: white;
}

header .head .head_right {
    position: absolute;
    top: 0px;
    right: 0px;
}

header .head .head_right .function_flex {
    display: flex;
}

header .head .head_right .function_flex li {
    font-size: 14px;
    color: aliceblue;
}

header .head .head_right .function_flex .view {
    margin-right: 15px;
}

header .head .head_right .function_flex .quit {
    color: #fc5531;
}

header .head .head_right .function_flex li:hover {
    cursor: pointer;
}

.sideways {
    width: 200px;
    height: 100vh;
    background-color: #252525;
}

.sideways .sideways_flex {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    color: aliceblue;
}

.sideways .sideways_flex .finish_buy {
    padding-top: 100px;
}

.sideways .sideways_flex .buy_car {
    padding-top: 100px;
}

.sideways .sideways_flex li {
    border-bottom: 1px solid #ccc;
}

.sideways .sideways_flex li:hover {
    cursor: pointer;
    background-color: #ff7050;
}

.show,.shoppingcar {
    position: absolute;
    top: 100px;
    left: 220px;
}

.show .el-input__inner {
    margin: 0;
    font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    font-size: inherit;
    background-color: #FFF;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #DCDFE6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    outline: 0;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    cursor: pointer;
    padding-right: 30px;
}

.show .payment .payment_input .el-button {
    -webkit-font-smoothing: antialiased;
    font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #FFF;
    border: 1px solid #DCDFE6;
    text-align: center;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
    color: #FFF;
    background-color: #fc5531;
    border-color: #fc5531;
}

.show .payment .payment_input {
    display: flex;
}

.show .payment .payment_input input {
    margin-right: 20px;
}

.show .payment .payment_function {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

.show .payment .payment_function .el-button {
    -webkit-font-smoothing: antialiased;
    font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
    color: #FFF;
    background-color: #ee3f4d;
    border-color: #ee3f4d;
}

.show .payment .payment_function .el-button:hover {
    background-color: #a7535a;
    border-color: #a7535a;
}

.table-wrapper,
.table-wrapper-information {
    -webkit-font-smoothing: antialiased;
    font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    font-size: 14px;
    color: #606266;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
}

.table-wrapper div {
    margin-right: 115px;
}

.table-wrapper-information div {
    margin-right: 90px;
}

.table-wrapper-information .has-gutter-information .cell .brandCarImg {
    width: 80px;
}

.table-wrapper-information .has-gutter-information .cell {
    color: #000000;
}


#isNav{
    position: fixed;
    bottom: 0;
}
#pagination{
    position: fixed;
    bottom: 0;
    left: 395px;
}

.table-wrapper-information .el-table__header .has-gutter-information button{
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
    color: #FFF;
    background-color: #fc5531;
    border-color: #fc5531;
}

#prev,#next{
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
    color: #FFF;
    background-color: #fc5531;
    border-color: #fc5531;
}

#pagination{
    color: black;
    font-size: 14px;
}

.show .shoppingcar .car_search{
    display: flex;
    position: relative;
    top: -100px;
    left: -180px;
}

.show .shoppingcar .car_search .el-button{
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
    color: #FFF;
    background-color: #fc5531;
    border-color: #fc5531;
}

.show .shoppingcar .car_search input{
    margin-right: 10px;
}

.shoppingcar .search_function{
    position: relative;
    top: -80px;
    left: -180px;
}

.shoppingcar .search_function .el-button{
    -webkit-font-smoothing: antialiased;
    font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
    color: #FFF;
    background-color: #ee3f4d;
    border-color: #ee3f4d;
}

.shoppingcar .search_table{
    position: relative;
    top: -65px;
    left: -180px;
    display: flex;
}

#search_isNav{
    position: fixed;
    bottom: 0;
    left: 240px;
}

#search_pagination{
    position: fixed;
    bottom: 0;
    left: 350px;
}

.shoppingcar .search_table{
    width: 1200px;
    margin: 0 auto;
}

.shoppingcar .search_table .el-table__header .has-gutter .cell{
    margin-right: 110px;
}

.shoppingcar .search_information .el-table__header .search_has-gutter-information .cell{
    margin-right: 93px;
}

.shoppingcar .search_information .el-table__header .search_has-gutter-information .cell .brandCarImg{
    width: 100px;
    height: 100px;
}

.shoppingcar .search_information{
    position: absolute;
    top: 20px;
    left: -183px;
    width: 1200px;
    margin: 0 auto;
}

.shoppingcar .search_information .el-table__header .search_has-gutter-information .el-table_1_column_8 .table_btn{
    background: #eb94d0;
    /* 创建渐变 */
    background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
    background-image: -moz-linear-gradient(top, #eb94d0, #2079b0);
    background-image: -ms-linear-gradient(top, #eb94d0, #2079b0);
    background-image: -o-linear-gradient(top, #eb94d0, #2079b0);
    background-image: linear-gradient(to bottom, #eb94d0, #2079b0);
    /* 给按钮添加圆角 */
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    text-shadow: 3px 2px 1px #9daef5;
    -webkit-box-shadow: 6px 5px 24px #666666;
    -moz-box-shadow: 6px 5px 24px #666666;
    box-shadow: 6px 5px 24px #666666;
    color: #fafafa;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
}

.shoppingcar .search_information .el-table__header .search_has-gutter-information .el-table_1_column_8 .table_btn:hover{
    background: #2079b0;
    background-image: -webkit-linear-gradient(top, #2079b0, #eb94d0);
    background-image: -moz-linear-gradient(top, #2079b0, #eb94d0);
    background-image: -ms-linear-gradient(top, #2079b0, #eb94d0);
    background-image: -o-linear-gradient(top, #2079b0, #eb94d0);
    background-image: linear-gradient(to bottom, #2079b0, #eb94d0);
    text-decoration: none;
}

#finish_back_btn{
    position: absolute;
    top: 0;
    left: 115px;
}

#search_prev{
    -webkit-font-smoothing: antialiased;
    font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #FFF;
    border: 1px solid #DCDFE6;
    text-align: center;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
    color: #FFF;
    background-color: #fc5531;
    border-color: #fc5531;
}

#search_next{
    -webkit-font-smoothing: antialiased;
    font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #FFF;
    border: 1px solid #DCDFE6;
    text-align: center;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
    color: #FFF;
    background-color: #fc5531;
    border-color: #fc5531;
}

#search_pagination{
    color: black;
    margin-left: 80px;
}

.shoppingcar .shoppingCarTop{
    margin-top: 20px;
}

.brandCar{
    z-index: 9;
    border-radius: 2%;
    position: absolute;
    top: 172px;
    left: 345px;
    width: 400px;
    height: 400px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(16, 11, 11, 0.2), 0 6px 20px 0 rgba(210, 101, 11, 0.19);
}

.brandCar .brandCar_flex{
    display: flex;
    flex-direction: column;
}

.brandCar .brandCar_flex li input:nth-child(-n+2){
    border: 1px solid #c0c4cc;
    border-radius: 5px;
    width: 80%;
    height: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
}

.brandCar .brandCar_flex li input:nth-child(-n+3):focus{
    border-color: #f07b00;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px
    rgba(0, 0, 0, 0.075),
    #f07b00;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    #f07b00;
}

.brandCar .brandCar_flex li input{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.brandCar .brandCar_flex li .number {
    border: 1px solid #c0c4cc;
    border-radius: 5px;
    width: 20%;
    height: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
}



.brandCar button{
    position: relative;
    top: 70px;
    left: 10px;
    background: #cfccc9;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 0 20px;
    text-align: center;
    width: 100px;
    height: 50px;
}

#hidebg {
    position:absolute;
    left:0px;
    top:0px;
    background-color:#000;
    width:100%;  /*宽度设置为100%，这样才能使隐藏背景层覆盖原页面*/
    height: 100%;
    filter:alpha(opacity=60);  /*设置透明度为60%*/
    opacity:0.6;  /*非IE浏览器下设置透明度为60%*/
    display:none;
    z-Index:8;
}

.table-wrapper-information .el-table__header .el-table_1_column_4{
    position: relative;
    left: 20px;
}

.table-wrapper-information .el-table__header .el-table_1_column_5{
    position: relative;
    left: 22px;
}

.table-wrapper-information .el-table__header .el-table_1_column_6{
    position: relative;
    left: 40px;
}

.table-wrapper-information .el-table__header .el-table_1_column_7{
    position: relative;
    left: 75px;
}

.table-wrapper-information .el-table__header .el-table_1_column_8{
    position: relative;
    left: 85px;
}

.search_information .el-table__header .el-table_1_column_2{
    position: relative;
    left: -18px;
}

.search_information .el-table__header .el-table_1_column_3{
    position: relative;
    left: -30px;
}

.search_information .el-table__header .el-table_1_column_4{
    position: relative;
    left: -15px;
}

.search_information .el-table__header .el-table_1_column_5{
    position: relative;
    left: -7px;
}

.search_information .el-table__header .el-table_1_column_6{
    position: relative;
    left: 7px;
}

.search_information .el-table__header .el-table_1_column_7{
    position: relative;
    left: 42px;
}

.search_information .el-table__header .el-table_1_column_8{
    position: relative;
    left: 20px;
}

#search_back_btn{
    position: absolute;
    left: 105px;
    top: 0px;
}

.search_information  .tip{
    width: 1045px;
    height: 573px;
    /*background-color: red;*/
    line-height: 137px;
    text-align: center;
    position: relative;
    top: 15px;
    left: 2px;
}

.search_information  .tip .tip_information{
    color: black;
    font-size: 14px;
}

.search_information  .tip .tip_hr{
    position: relative;
    bottom: 43px;
}


